<style>

</style>
<div class="uk-cover-container">
	<canvas width="" height="420"></canvas>
	<div class="uk-position-bottom uk-padding-small uk-text-left uk-light" style="z-index:1; width:100%;">
		<h2 class="uk-h2 uk-margin-small">Executives Team</h2>
	</div>
	<img src="https://source.unsplash.com/random" alt="" uk-cover>
</div>

<!-- <div class="uk-tile uk-tile-default">
	<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
	    <div class="uk-padding-large uk-padding-remove-vertical">
	    	<h3 class="uk-h3 uk-text-bold">Why choose us?</h3>
		    <p>Immense Management Institute offers exceptional value by focusing on results, and always ensuring the value created for our clients greatly exceeds our fees. Our clients have discovered the power of IMI's unique combination of experience, collaborative style, and customer focus.</p>
	    </div>
	    <div class="uk-padding-large uk-padding-remove-vertical">
	    	<h3 class="uk-h3 uk-text-bold">We have you covered</h3>
		    <p>We have a team of experienced consultants with a successful track record of developing, growing and improving businesses. We offer the customised solutions that firms require for mission-critical strategic initiatives, whether in strategy formulation, process design, program management, or organizational development.</p>
	    </div>
	</div>
</div> -->

<div class="uk-section uk-section-default">
	<div class="uk-container">
		<div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
			<% for(var i = 0; i < data.length; i++) { %>
			<a href="/executives-profile/<%= data[i].id %>">
				<div class="cursor-pointer">
					<div class="uk-card uk-card-default uk-card-hover">
						<div class="uk-card-media-top">
							<img class="border-rounded-top"
								src="http://127.0.0.1:4000/uploads/<%= data[i].photo.slice(15,41) %>" alt="">
						</div>
						<div class="uk-padding-small uk-text-center">
							<h4 class="uk-h4 uk-margin-remove"><%= data[i].first_name %> <%= data[i].last_name %></h4>
							<p class="uk-text-muted uk-margin-remove"><%= data[i].title %></p>
						</div>
					</div>
				</div>
			</a>
			<% } %>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {

	});
</script>