<style>
	#canvas-image {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
</style>
<div class="uk-container">
	<h2 class="uk-h2 uk-margin-top uk-margin-bottom"><%= data[0].first_name %>
		<%= data[0].last_name %></h2>
</div>
<div class="uk-section uk-section-default uk-padding-remove-top">
	<div class="uk-container">
		<div class="uk-child-width-1-2@m uk-grid-small" uk-grid>
			<div class="uk-width-1-3">
				<div
					class="uk-card uk-card-default uk-position-relative uk-cover-container uk-card-hover border-rounded uk-height-medium">
					<div class="uk-card-media-top">
						<canvas id="canvas-image" class="border-rounded"><img class="border-rounded-top"
								src="https://bfatanzania-web.herokuapp.com/uploads/<%= data[i].photo.slice(15,41) %>"
								alt=""></canvas>
					</div>
				</div>
				<div class="uk-padding-small uk-text-center">
					<h4 class="uk-h4 uk-margin-remove uk-text-capitalize"><%= data[0].first_name %>
						<%= data[0].last_name %></h4>
					<p class="uk-text-muted uk-margin-remove"><%= data[0].title %></p>
					<ul class="uk-list uk-list-large">
						<li><span uk-icon="phone"></span> <%= data[0].phone%></li>
						<li><span uk-icon="mail"></span> <%= data[0].email %></li>
					</ul>
					<ul class="uk-iconnav uk-flex-center uk-flex-middle">
						<% for(var i = 0; i < data2.length; i++) { %>
						<li><a href="#" uk-icon="icon: <%= data2[i].social_name %>"></a></li>
						<% } %>
					</ul>
					<ul class="uk-list uk-list-large">
						<li>
							<a class="uk-flex uk-flex-row-reverse uk-flex-middle uk-flex-center" uk-icon="file-pdf"
								href="https://bfatanzania-web.herokuapp.com/uploads/<%= data[0].resume.slice(15,41) %>">&ensp;View
								Résumé</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-2-3">
				<p class="uk-dropcap"><%= data[0].bio %>"</p>
				<h3 class="uk-h3 uk-text-capitalize">Contact <%= data[0].first_name %>
					<%= data[0].last_name %> Directly</h3>
				<form action="/sendmail" method="POST" enctype="application/json">
					<input type="hidden" name="email_recipient" value="<%= data[0].email %>">
					<input type="hidden" name="id" value="<%= data[0].id %>">
					<div class="uk-grid-small uk-grid-match uk-child-width-1-2@s" uk-grid>
						<div class="">
							<div class="uk-inline">
								<span class="uk-form-icon" uk-icon="icon: user"></span>
								<input class="uk-input" type="text" name="name" placeholder="Name">
							</div>
						</div>
						<div class="">
							<div class="uk-inline">
								<span class="uk-form-icon" uk-icon="icon: mail"></span>
								<input class="uk-input" type="text" name="email_sender" placeholder="Email">
							</div>
						</div>
					</div>
					<div class="uk-margin">
						<textarea class="uk-textarea" rows="5" style="resize:none;" name="message"
							placeholder="Write your message"></textarea>
					</div>
					<button type="submit" class="uk-button uk-button-primary">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		var granim = "#834d9b,#d04ed6,#1cd8d2,#93edc7";
		granim = granim.split(',');
		var gradients = [];
		var opacity = [1, 1];
		var len = granim.length;
		if (len > 0) {
			if (granim[0].indexOf('-') > -1) {
				for (var i = 0; i < len; i++) {
					gradients[i] = granim[i].split('-');
				}

				for (var i = 0; i < gradients[0].length; i++) {
					opacity[i] = 1;
				}
			} else {
				for (var i = 0; i < len / 2; i++) {
					gradients[i] = [granim[i * 2], granim[i * 2 + 1]];
				}
			}
		}
		var granimInstance = new Granim({
			element: '#canvas-image',
			direction: 'left-right',
			isPausedWhenNotInView: true,
			opacity: opacity,
			image: {
				source: '../img/6.jpg',
				blendingMode: 'multiply',
				position: ['center', 'center'],
				stretchMode: ['stretch-if-bigger', 'stretch-if-bigger'],
			},
			states: {
				"default-state": {
					gradients: gradients,
					transitionSpeed: 5000,
					loop: true
				}
			}
		});
	});
</script>