<a href="/admin/dashboard/" class="uk-button uk-button-link uk-icon tm-back"><span
        uk-icon="icon: chevron-left; "></span>Back</a>

<div class="uk-child-width-expand@s uk-margin-small-top uk-flex-top" uk-grid>
    <div>

        <div class="uk-flex uk-flex-wrap ">
            <div class="uk-width-1-1">
                <h2 class="uk-h3">Manage Executives</h2>
            </div>
            <div class="uk-width-1-1">
                <ul class="uk-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="uk-disabled"><a href="#">Executives</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div>

    </div>
</div>

<div class="uk-child-width-expand@s uk-margin-small-top uk-flex-middle" uk-grid>

    <div class="uk-width-expand">
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-button-group uk-width-auto">
                <div class="uk-inline">
                    <button class="uk-button uk-button-default" type="button"><span
                            uk-icon="icon: list"></span>&ensp;<span id="selected-articles-status">All</span></button>
                    <div uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-active" onclick="selectStatus(this)"><a href="#" data-unlink>All</a></li>
                            <li onclick="selectStatus(this)"><a href="#" data-unlink>Published</a></li>
                            <li onclick="selectStatus(this)"><a href="#" data-unlink>Draft</a></li>
                            <li onclick="selectStatus(this)"><a href="#" data-unlink>Trash</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand">
                <form class="uk-search uk-search-default uk-width-5-6">
                    <span uk-search-icon></span>
                    <input class="uk-search-input uk-flex-wrap-stretch" id="search" type="search"
                        placeholder="Search...">
                </form>
            </div>
        </div>
    </div>

    <div class="uk-width-auto">
        <a href="#articles/new">
            <button class="uk-button uk-button-primary uk-icon uk-align-right uk-margin-auto-vertical"><span
                    uk-icon="icon: plus; "></span> New article</button>
        </a>
    </div>


</div>
<hr class="uk-divider-icon">

<table class="uk-table uk-table-striped uk-table-hover uk-table-responsive">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Photo</th>
            <th>Resume</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Socials</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(var j = 0; j < executives.length; j++) { %>
        <tr>
            <td><%= executives[j].first_name %></td>
            <td><%= executives[j].middle_name %></td>
            <td><%= executives[j].last_name %></td>
            <td><%= executives[j].title %></td>
            <td>
                <a
                    href="http://127.0.0.1:4000/uploads/<%= executives[j].photo.slice(15,41) %>"><%= executives[j].photo %></a>
            </td>
            <td>
                <a
                    href="http://127.0.0.1:4000/uploads/<%= executives[j].resume.slice(15,41) %>"><%= executives[j].resume %></a>
            </td>
            <td><%= executives[j].phone %></td>
            <td><%= executives[j].email %></td>
            <td class="uk-text-truncate"><%= executives[j].bio %></td>

            <td>
                <ul class="uk-iconnav">
                    <% for(var i = 0; i < social.length; i++) { %>
                    <%   if(executives[j].id == social[i].id) { %>
                    <li><a href="#" uk-icon="icon: <%= social[i].social_name %>"></a> <%= social[i].username %></li>
                    <% } %>
                    <% } %>
                </ul>
            </td>

            <td>

                <a href="/admin/<%= executives[j].id %>"><i class="fa me fa-pencil  fa " aria-hidden="true"></i></a>
                <a href="/admin/dashboard/delete/<%= executives[j].id %>"
                    onclick="confirm('Are you sure you want to delete this record ?');"><i class="fa me fa-trash fa "
                        aria-hidden="true"></i></a>

            </td>
            <% } %>
        </tr>
    </tbody>
</table>

<ul class="uk-pagination uk-flex-center uk-margin-medium-top" uk-margin>
    <li><a href="#"><span uk-pagination-previous></span></a></li>
    <li class="uk-active"><a href="#">1</a></li>
    <li class="uk-disabled"><span>...</span></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><span>7</span></li>
    <li><a href="#">8</a></li>
    <li><a href="#"><span uk-pagination-next></span></a></li>
</ul>

<script>
    $("#search").keyup(function () {
        var value = this.value.toLowerCase().trim();

        $("table").find("tr").each(function (index) {
            if (!index) return;
            var id = $(this).find("td").first().text();
            id = id.toLowerCase().trim();
            $(this).toggle(id.indexOf(value) !== -1);
        });
    });

    function selectStatus(obj) {
        $(obj).siblings().removeClass("uk-active");
        var text = $(obj).find("a").text();
        $(obj).addClass("uk-active");
        $("#selected-articles-status").text(text);
    }
    $(document).ready(function () {
        $("[data-unlink]").click(function (e) {
            e.preventDefault();
        });
    });
</script>